  body {
    font-family: Open Sans, Helvetica, sans-serif;
    background-color: white;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #004991;
  }
  a {
    color: rgb(0, 140, 63);
    text-decoration: none;
  }
  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code,
  p code,
  li code,
  pre code {
    border: none;
    background: inherit;
    font-weight: bolder;
  }
  blockquote {
    border-radius: 5px;
    border: 2px solid #bbb;
    width: 90%;
    background: #eee;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    color: #222;
  }

h1 {
  text-align: center;
  counter-reset: h2counter;
}
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}


