  body {
    font-family: Open Sans, Helvetica, sans-serif;
    background-color: white;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #004991;
  }
  a {
    color: rgb(0, 140, 63);
    text-decoration: none;
  }
  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code,
  p code,
  li code,
  pre code {
    border: none;
    background: inherit;
    font-weight: bolder;
  }
  blockquote {
    border-radius: 5px;
    border: 2px solid #bbb;
    width: 90%;
    background: #eee;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    color: #222;
  }
